<div class="container">
  <div class="movie">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1e/Piranha.jpg/220px-Piranha.jpg" alt="Película">
      <div class="movie-details">
          <h2>Piranha 3D</h2>
          <p>Duración: 88 minutos</p>
          <p>Año: 1989</p>
          <p>Género: Comedia y Terror</p>
      </div>
  </div>

  <div class="movie">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/af/Anaconda_logo.svg/250px-Anaconda_logo.svg.png" alt="Película">
      <div class="movie-details">
          <h2>Anaconda</h2>
          <p>Duración: 89 minutos</p>
          <p>Año: 1997</p>
          <p>Género: Acción y Terror</p>
      </div>
  </div>
  </div>